#main {
    width: 980px;
    margin: 100px auto 0 auto;
    
    .about {
        margin: 0 0 160px 0;
        
        figure {
            @include inline-block;
            position: relative;
            width: 450px;
            height: 468px;
            margin: -123px 186px 15px -187px;
            
            svg {
                position: absolute !important;
                left:0;
                top:0;
                z-index:0;
                
                path {
                    cursor: pointer;
                }
            }
        }
        .infos {
            width: 30em;
            margin-left: 15px;
            @include inline-block;
            vertical-align:top;
            
            h2 {
                margin-bottom: 0;
            }
        }
    }
    .works {
        position:relative;
        z-index:1;
        
        > ul {
            padding: 0 0 22px 0;
            margin: 0;
            height:2.5em;
            
            li {
                list-style: none;
                float: left;
                margin-right: 20px;
                background:none;
                padding:0;
                
                button {
                    border: none;
                    background: none;
                    padding: 10px;
                    color: $color-link;
                    @include muli;
                    @include transition(all,500ms);
                    
                    &.active, &:hover {
                        color: $color-nav-over;
                        background: $color-nav-over-bg;
                        @include transition(all,500ms);
                    }
                }
            }
        }
        .works-wrapper {
            clear: both;
            
            ul {
                margin: 0;
                padding: 0;
                
                li {
                    margin: 0 30px 30px 0;
                    padding: 0;
                    list-style: none;
                    float:left;
                    position: relative;
                    width: 294px;
                    cursor: pointer;
                    
                    img {
                        border:1px solid $color-border;
                        box-shadow: 0 0 5px rgba(0,0,0,0.2);
                        display: block;
                    }
                    .wrapper{
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        
                        .wrap,button {
                            height: 4em;
                            background: none;
                            border: none;
                            padding: 0;
                            bottom: -4em;
                            left: 1px;
                            position: absolute;
                            width: 292px;
                            @include muli;
                            color:$color-nav-over;
                            text-align: left;
                            background:url(../../img/bg-black.jpg) repeat-x left top;
                            @include transition(all,500ms);
                            padding-top:4px;
                            
                            &:focus {
                            	@include transition(none,500ms);
                                bottom:0;
                            }
                            span {
                                display: block;
                                padding-left: 12px;
                                
                                &.title {
                                    text-transform: uppercase;
                                    @include abel;
                                    font-size: 1.25em;
                                    margin-bottom:4px;
                                    line-height:1em;
                                }
                                &.category {
                                    font-size: 0.75em;
                                    font-style: italic;
                                }
                            }
                        }
                    }
                    &:hover {
                        .wrap,button {
                            bottom:0;
                        }
                    }
                }
            }
            .bigs {                
                .big {
                    display: none;
                    
                    div {
                        float: right;
                        width: 250px;
                        
                        p, time {
                            font-size: 0.875em;
                        }
                        h3 {
                            color:$color-heading;
                            font-size: 1.25em;
                            margin: 0;
                            text-transform: uppercase;
                            
                            a {
                                text-decoration: none;
                                
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                        .category {
                            margin: 3px 0 2px 0;
                            font-size: 0.75em;
                        }
                        time {
                            font-size: 0.75em;
                        }
                        .desc {
                            margin: 6px 0 20px 0;
                        }
                        .back {
                            button {
                                background:none;
                                border:none;
                                @include muli;
                                color: $color-link;
                                padding:0;
                                
                                &:hover {
                                    text-decoration: underline;
                                }
                                &:before {
                                    content: "‹ ";
                                    font-size: 1.375em;
                                }
                            }
                        }
                    }
                    img {
                        @include inline-block;
                        border:1px solid $color-border;
                        box-shadow: 0 0 5px rgba(0,0,0,0.2);
                    }
                    a {
                        img {
                            border:1px solid $color-border;
                        }
                    }
                }
            }
        }
    }
}