<section class="about" id="about">
    <figure id="figure">
        <figcaption class="visuallyhidden">
            Il s'agit d'une illustration qui démontre certaines de mes compétences techniques par ordre croissant de maitrise : HTML5, CSS(CSS3,SASS,Compass), Javascript(jQuery), Photoshop, Illustrator, Accessibilité (WCAG, SGQRI 008), Axure Pro, PHP (Silex), MySql, Git.
        </figcaption>
    </figure>
    <div class="infos">
        <h2>« Faut que ça bouge ! »</h2>
        <p>
            Je suis avant tout une personne enthousiaste et passionnée. Je suis depuis longtemps fortement intéressée par tout ce qui touche l'expérience utilisateur et le frontend, de l'architecture d'informations en passant par le design jusqu'au développement HTML/CSS/JavaScript. Les nouvelles technologies me font vibrer, c'est pourquoi je tente constamment de me tenir à jour. Je suis également à la constante recherche de la qualité, ce qui m'a poussé à explorer la voie de l'accessibilité.
        </p>
        <p>
            Pour conclure, je dirais seulement que j'adore apprendre et les nouveaux défis, car j'ai en horreur la stagnation.
        </p>
    </div>
</section>