{% extends "layout/default.html.twig" %}

{% block content %}
<h1>Accessibilité</h1>
<h2>Conformité</h2>
<p>
    Je m'engage à assurer l'accessibilité de mon site Web aux personnes ayant des incapacités ou des restrictions techniques majeures. Je vise la conformité au <a href="http://www.tresor.gouv.qc.ca/fr/ressources-informationnelles/standards-sur-laccessibilite-du-web/">Standard sur l'accessibilité d'un site Web du gouvernement du Québec (SGQRI 008-01).</a>
</p>

<h2>Programmation et technologies utilisées</h2>
<p>
    Le site utilise le langage de balisage HTML5 ainsi que le CSS et le JavaScript.
</p>

<h3>Structure et présentation</h3>

<ol>
    <li>
    Aucun cadre (frame) n’est utilisé.
    </li>
    <li>
        Aucun tableau de présentation n’est utilisé pour faire la mise en page du site.
    </li>
</ol>

<h3>Images</h3>

<ol>
    <li>
        Chaque image informative est accompagnée d’un équivalent textuel.
    </li>
    <li>
        Aucune fluctuation lumineuse ni aucun clignotement dont le rythme est supérieur à trois fois la seconde n'est utilisé dans les animations.
    </li>
</ol>

<h3>Navigation</h3>

<ol>
    <li>
        Le menu principal du site est utilisable sans Javascript et est balisé à l’aide d’éléments de liste.
    </li>
    <li>
        Aucun raccourci clavier n’est intégré au site.
    </li>
    <li>
        Aucune actualisation de page ni aucun changement de contexte ne se font automatiquement.
    </li>
</ol>

<h2>Vérification de l'accessibilité de ce site</h2>
<p>Ce site a été vérifié avec les technologies informatiques suivantes :</p>

<ol>
    <li>
        Non Visual Desk Accessibility (NVDA) version 2012.2.1
    </li>
    <li>
        JAWS version 12.0
    </li>
    <li>
        VoiceOver version 4.4
    </li>
    <li>
        Firefox version 15
    </li>
    <li>
        Google Chrome version 22
    </li>
    <li>
        Internet Explorer version 7, 8 et 9
    </li>
</ol>
<p>Ce site est optimisé pour être utilisé avec NVDA et Firefox.</p>

<h2>Commentaires</h2>
<p>
    Au cas où des obstacles seraient rencontrés pour des éléments couverts par le <a href="http://www.tresor.gouv.qc.ca/fr/ressources-informationnelles/standards-sur-laccessibilite-du-web/">Standard sur l'accessibilité d'un site Web du gouvernement du Québec (SGQRI 008-01)</a>, je vous saurais gré de me transmettre un courriel à cet effet afin que je puisse y remédier dans les plus brefs délais.
</p>
{% endblock %}