// Main
$color-main : #444444;
$color-border : #cccccc;
$color-heading : #000000;

// Header
$color-nav : $color-heading;
$color-nav-over : #ffffff;
$color-nav-over-bg : #0077c0;

// Link
$color-link : $color-nav-over-bg;

// Accessibility
$color-focus : $color-nav-over-bg;