@mixin muli {
    font-family: 'Muli',arial;
}

@mixin abel {
    font-family : 'Abel',arial;
}

h1 {
    text-transform:uppercase;
    font-size:2.75em;
    @include abel;
    font-weight:normal;
}

h2 {
    text-transform:uppercase;
    font-size:2.75em;
    @include abel;
    font-weight:normal;
}

h3 {
    font-size:1.5em;
    @include abel;
    font-weight:normal;
    margin:30px 0 -4px 0;
}

.accessibility h2 {
	text-transform: none;
	font-size: 2em;
	margin: 30px 0 0 0;
}

#main p, #main li {
	line-height: 1.4em;
}

#main ul {
	padding: 0;
	list-style: none;
	
	li {
		background: url(../../img/puce-black.png) no-repeat left 7px;
		padding-left: 20px;
	}
}